<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Scheduler</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<!-- LOGO GOES HERE -->
                            <div class="logo"><img src="" class="icon" alt=""></div>
							<h2>*INSERT NAME*</h2>
							<p>Please Login to Continue</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
                                    <form method="post" action="/getUsers">
                                        <div class="fields">
                                            <div class="field">
                                                <label for="username">Username</label>
                                                <input type="text" name="username" id="username" />
                                            </div>
                                            <div class="field">
                                                <label for="password">Password</label>
                                                <input type="text" name="password" id="password" />
                                            </div>
                                        </div>
										<p class = "hidden loginError">Username or password incorrect, please try again</p>
                                        <ul class="actions">
                                            <li><input type="submit" value="Log In" /></li>
                                        </ul>
                                    </form>
	
								</div>
							</section>

						

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; <a href="https://j-mataway.github.io/portfolio/">Jim Mataway 2022 All rights reserved.</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>